html, body {
    font-size: clamp(14px, 2vw, 18px);
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    /* -ms-overflow-style: none;
    scrollbar-width: none; */
    background-color: #e3e2df;
    font-family: 'Specific Sans Font', Helvetica, Arial, sans-serif; 
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000%;
    overflow: hidden;

    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    border-bottom: solid;
    border-color: #9a1750;
    background-color: rgb(255, 255, 255);
    border-width: 0.1vh;

}

.logo {

    width: 50%;
    height: 100%;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.text_logo {
    align-content: center;
    height: 100%;
    padding: 0;
    margin: 0;
    font-weight: bold;
    color: #9a1750;
    font-size: 3vh;
}

.buttons {
    height: 100%;
    --size : 50%;
    overflow: hidden;
    display: flex;
    width: var(--size);
    justify-content: center;
}

.button {
    margin: 0 1em;
    align-content: center;
    height: 100%;
    word-break: break-all;
    min-width: 20%;
    font-size: 1.5vh;
    text-align: center;
    font-weight: bold;
    color:#9a1750;

    border: solid;
    border-top: none;
    border-bottom: none;
    border-color: #9a1750;
    border-width: 0.2vh;


    transition: all 0.5s;
}

.button:hover {
    color: #ffffff;
    background-color: #9a1750;
}

.main_body {

    z-index: 0;
    word-break: break-all;
    width: 100%;
    min-height: 120%;
    background-color: #e3e2df;
}

@media (max-width: 800px) {
    .logo {
        display: none;
    }

    .buttons {
        overflow: hidden;
        display: flex;
        width: 100%;
        justify-content: center;
    }
}



[class*="__container"] {
    min-height: 1000px;
    background-color: #ffffff;
    margin: 15px;
    max-width: 1170px;
    margin: 15px auto;
    padding: 0 15px;
    transition: all 1s;
}

@media (max-width: 1200px) {
    [class*="__container"] {
        max-width: 1000px;
        margin: 15px auto;
        padding: 0 15px; /* отступы по бокам на мобильных устройствах */
    }

}

@media (max-width: 1100px) {
    [class*="__container"] {
        max-width: 900px;
        margin: 15px auto;
        padding: 0 15px; /* отступы по бокам на мобильных устройствах */
    }

}

@media (max-width: 1000px) {
    [class*="__container"] {
        max-width: 800px;
        margin: 15px auto;
        padding: 0 15px;
    }
}

@media (max-width: 900px) {
    [class*="__container"] {
        max-width: 700px;
        margin: 15px auto;
        padding: 0 15px;
    }
}

@media (max-width: 800px) {
    [class*="__container"] {
        max-width: 100%;
        margin: 15px 15px;
        padding: 0 15px;
    }
}