html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #e3e2df;
    font-family: 'Specific Sans Font', Helvetica, Arial, sans-serif; 
}

header {
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    border-bottom: solid;
    border-color: #5d001e;
    border-width: 1px;

}

.logo {
    width: 15%;
    height: 100%;
    justify-content: center;
    text-align: center;
}

.text_logo {
    font-weight: bold;
    color: #5d001e;
    padding: 5px;
    font-size: 2.5vh;
}

.buttons {
    display: flex;
    width: 85%;
}

.button {
    text-align: center;
    width: 10%;
    font-weight: bold;
    color:#5d001e;
    padding: 10px;
    margin: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid;
    border-radius: 1vh;
    border-width: 2px;
    border-color: #9a1750;
}

.form {
    display: grid;
    width: 10%;
    margin: 5px;
    padding: 5px;
    height: 100%;
}

.inp {
    margin-bottom: 5px;
    padding: 5px;
}
.but {
    padding: 5px;
}